APP=ferret-eric
HEROKU_USERNAME=anemail@gmail.com
HEROKU_API_KEY=asdf1234api
ORG=ferret-dev
L2MET_URL=https://drain.l2met.net/consumers/key/logs
METRICS_URL=https://l2met-next.herokuapp.com/metrics/

